.idea
**/themes/*
!**/themes/hugo-coder/
site/public/
site/resources/
*.lock
.DS_Store
.terraform
.terraform.*
.vscode
node_modules

# scripts/subset-fontawesome.py is run from a local venv
__pycache__/
.venv/
