/* Fixes iOS font sizing anomaly in code blocks */
/* Based on: https://nathan.rs/posts/fixing-ios-codeblocks/ */
code {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
